.td-table{
    vertical-align: baseline!important;
}

.number{
    width: 5%;
}
.name{
    width: 25%;
}
.comment{
    width: 30%;
}
.date{
    width: 10%;
}
.approve{
    width: 10%;
}

.action{
    width: 10%;
}

.live{
    width: 10%;
}

