html, body{ height:100%; margin:0; }
body{
  display:flex; 
  flex-direction:column; 
}
/*NAVBAR*/
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}
h1{
    font-size: 2vw; 
}
h2{
    font-size: 2.5vh;
}
p{
    font-size: 2vmin;
}
  
.navbar{
    border-top: 10px solid #27aae1;
    border-bottom: 10px solid #27aae1;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: .8em;
}
.container-navbar{
    margin:0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar div li{
    display: flex;
    align-items: center;
}
.navbar-navbar{
    display: flex;
    justify-content: space-between;
}
.ul-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*NAVBAR*/






/*FOOTER*/
footer{
    border-top: 10px solid #27aae1;
    border-bottom: 10px solid #27aae1;
    margin-top:auto; 
}


.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
/*FOOTER*/


@media screen and (max-width: 991px) {
    .home-title{
        font-size: 4vw;
        position: absolute;
    }
    .burger-button{
        margin-left: 44vw;
    }    
    #collapse-id{
        margin-left: 42vw;
    }
    .home-anchor{
        margin-top: .2rem;
    }
    .logout{
        margin-left: 2.8vw;
    }
    
}