.td-table{
    vertical-align: baseline!important;
}

.number{
    width: 10%;
}
.username{
    width: 25%;
}
.name{
    width: 20%;
}
.added{
    width: 25%;
}
.date{
    width: 10%;
}

.delete{
    width: 10%;
}
