.td-table{
    vertical-align: baseline!important;
}

.number{
    width: 5%;
}
.title{
    width: 20%;
}
.category{
    width: 15%;
}
.date{
    width: 10%;
}
.author{
    width: 10%;
}

.image{
    width: 15%;
}

.action{
    width: 15%;
}
.live{
    width: 10%;
}
